/* #region DEBUG */

.debug body {
    background-color: lightcyan;
    overflow-y: auto;
}

.debug .container {
    border: 3px solid yellow;
    background-color: blueviolet;
}

.debug .row {
    border: 1px solid red;
    background-color: blue;
}

[class^='col'] {
    border-color: black;
}

.debug .bd_sidebar {
    min-height: calc(100vh - 100px);
}

.debug .bd_content_wrapper {
    border: 3px dashed violet;
    background-color: grey;
}

/* #endregion DEBUG */

/* #region GLOBAL RULES */

nav {
    height: 64px;
}

main {
    overflow-y: auto;
}

.bd_sidebar {
    height: calc(100vh - 64px);
}

.bd_content_wrapper {
    height: calc(100vh - 64px);
}

/* #endregion GLOBAL RULES */

/* #region VARIABLES */

:root {
    --bd_dblue: #051e34;
    --bd_blue: #1b72e8;
    --bd_badge_blue: #165bba;
}

/* #endregion VARIABLES */

/* #region COLORS */

.bd_sidebar {
    background-image: url(./img/sidebar-bg.png);
    background-color: var(--bd_dblue);
}

.bd_bg_trasnp {
    background-color: transparent;
}


#bd_teacher_overview {
    background-color: var(--bd_blue);
}

.bd_badge_blue {
    background-color: var(--bd_badge_blue);
}

.bd_badge_blue:hover {
    filter: saturate(0.8);
}

#bd_faq .accordion-button:focus {
    box-shadow: none;
    background-color: transparent;
}

/* #endregion COLORS */

/* #region NAVBAR */

.bd_mobile_logo {
    height: 3rem;
}

/* #endregion NAVBAR */

/* #region SIDEBAR */

.bd_sidebar i {
    width: 1.25rem;
}

.bd_sidebar span {
    width: 3rem;
    text-align: start;
}

/* #endregion SIDEBAR */

/* #region TEACHER OVERVIEW */

.bd_new_student {
    line-height: 2.5rem;
    height: 100%;
}

/* #endregion TEACHER OVERVIEW */

/* #region CLASSES */

#bd_classes th[scope="row"] {
    line-height: 0.5rem;
    vertical-align: middle;
}

/* #endregion CLASSES */