/* #region DEBUG */

.debug * {
    border: 1px dashed red;
}

.debug body {
    background-color: lightcyan;
    overflow-y: auto;
}

.debug .container {
    background-color: blueviolet;
}

.debug .row {
    background-color: blue;
}

[class^='col'] {
    min-height: 150px;
    border-color: black;
}

.debug .bd_sidebar {
    min-height: calc(100vh - 100px);
    width: 80px;
    background-color: antiquewhite;
}

.debug .bd_content_wrapper {
    background-color: yellow;
}

/* #endregion DEBUG */

/* nav {

} */

.debug body {
    /* overflow-y: auto; */
}

.bd_sidebar {
    min-height: calc(100vh - 100px);
    width: 80px;
}

.bd_content_wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
}